body{
    display: flex;
    flex-direction: column;
    margin: 0;
    
    

    
    
}
.outline {
    height: 400px;
}
#a {
    background-color: #1F2937 ;
    color:aliceblue;
    display: flex;
    flex-direction: column;
    


    
}
#header {
    display: flex;
    height: 100px;
    padding: 20px;
    
}
#header-left {
    flex:1.5;
}
#header-right {
    display: flex;
    gap: 15px;
    flex:2;
    justify-content: flex-end;
    margin-right: 10%;
    width: 600px;
}

#a-content {
    margin-top: 20px;
    display: flex;
    
}
#a-left {
    flex:1;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    gap: 10px;
    
}
#a-left1 {
    font-size: 35px;
    font-weight: bold;
}
#a-left2 {
    font-size: 20px;
}
#a-left button {
    background-color: #3882f6;
    border-style: solid;
    border-color: aliceblue;
    color:#E5E7eb;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}
#a-right {

    display: flex;
    flex:1;
    
    margin-right: 15%;
    justify-content: flex-end;
}
#a-right div{
    text-align: center;
    
   width: 300px;
    height: 150px;
    border-style: solid;
    background-color: aliceblue;
    opacity: 50%;
}
#a-right div p {
    margin-top: 40px;
    opacity: 100%;
    color:#1F2937
}
#b {
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
#b p {
    font-size: 25px;
    margin-bottom: 70px;
}
#b-squares {
    display: flex;
    gap: 50px;
    
}
.square div {
    display: flex;
    flex-direction: column;
    width: 100px;
    max-width: 100px;
    height: 100px;
    border-radius: 5px;
    border-style: solid;
    border-color: #1F2937;
    border-width: 3px;
}


#c {
    background-color: #E5E7eb; 
    justify-content: center;
    align-items: center;
    display: flex;
    height: 400px;
}
#c-para {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 30px;
    min-width: 435px;
    
}
#c-para div {
    text-align: end;
    
    
}

#d {
    display: flex;
    flex-direction: column;
    height: 300px;
   
}
#d-top {
    
    height: 250px;
    align-items: center;
    justify-content: center;
}
#d-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 60px;
    background-color: #3882f6;
    
}
#d-signup-right {
    flex:1;
    height: 100%;
    text-align: center;
}
#d-signup-right button {
    margin-top: 40px;
    background-color: #3882f6;
    border-color: white;
    border-style: solid;
    color: white;
    border-width: 1px;
    border-radius: 5px;
    width: 70px;
}
#d-signup-left {
    flex:2;
    height:100%;
    justify-content: center;
}
#d-signup-left p {
    padding-top: 10px;;
    margin-left: 20%;
    color:aliceblue;
}
#copyright {
    background-color: #1F2937 ;
    height: 20px;
    color:aliceblue;
    text-align: center;
    padding: 20px;
    
}